* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f4;
    color: #171e28;
    line-height: 1.3;
    font-size: 1.5rem;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
}

.at_mainheader {
    background: #f3f3f4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.at_mainheader .at_header {
    position: fixed;
    z-index: 2;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 25px rgb(23 30 40 / 5%);
    height: 80px;
}

.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      z-index: 101;
      height: 80px;
      width: 75px;
      position: absolute;
      top: 0;
      left: 0px;
      cursor: pointer;
      opacity: 0;
}
  
.hamburger{
    position: absolute;
    top: 0;
    left: 0px;
    height: 80px;
    width: 75px;
    padding: 0.6rem;
    z-index: 100;

/* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
  
.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: rgb(0, 126, 176);
    height: 5px;
    width: 60%;
    transition: all  0.4s ease;
    border-radius: 15px;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: rgb(0, 126, 176);
    width: 100%;
    height: 5px;
    transition: all  0.4s ease;
    border-radius: 15px;
}

.hamburger > div::after{
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: #ffffff;
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: rgb(0, 126, 176);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: rgb(0, 126, 176);
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu{
    background: rgb(0, 126, 176);
    width: 20%;
    height: 100vh;

/* APPLYING TRANSITION TO THE MENU :  */

    transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu{
    width: 27%;
}


/* STYLING THE LIST :  */

.menu >  div > ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    justify-content: space-around;
    height: 45vh;
    padding-left: 0px;

/* HIDDEN INITIALLY  :  */

    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.menu > div > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7rem;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.t_menu {
    margin-left: 10px;
    padding-top: 17px;
    font-weight: 600;
}

.menu > div > ul > li > a > img {
    visibility: visible;
    width: 50px;
    
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
    width: 26vw;
}

.toggler:checked ~ .menu > div > ul > li > a:hover{
    color: rgb(0 54 176);
}

/* .ml-auto {
    margin-left: auto;
} */

.at_mainheader .at_ul_header {
display: flex;
justify-content: center;
align-items: center;
}

ul {
list-style: none;
color: #000;
}

.at_mainheader .at_ul_header>.at_li_header {
    padding: 0 3rem;
    position: relative;
    height: 40px;
    line-height: 40px;
}

ul li {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

.at_mainheader .at_grey_li p {
    font-size: 1.7rem;
    color: #b9bbbe;
}

p {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.at_mainheader .at_grey_li strong {
    font-family: Rubik-Medium,sans-serif;
    font-weight: 500;
}

main {
    position: fixed;
    top: 22%;
    left: 33%;
}

main > ul {
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-around;
    align-items: center;
}

main > ul > li {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

main > ul > li:hover {
    /* transition: ; */
    background-color: rgba(0, 191, 255, 0.587);
    cursor: pointer;
}

main > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    color: rgb(0, 0, 0);
}

main > ul > li > a > img {
    width: 50px;
}

.action {
    position: fixed;
    top: 20px;
    right: 20px;
}

.action .profile {
    position: relative;
    width: 100px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}

.action .profile ul li img {
    width: 30px;
}

.action .profile ul li p {
    position: absolute;
    top: 2px;
    width: 0;
    height: 0;
    object-fit: cover;
    font-size: 24px;
    right: 70px;
    color: #339af0;
}

.action .dropdown {
    position: fixed;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transform: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .dropdown.active {
    top: 85px;
    visibility: visible;
    opacity: 1;
    right: 10px;
    width: 45%;
}

.action .dropdown::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.action .dropdown ul p {
    text-align: center;
}

.action .dropdown ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    direction: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .dropdown ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .dropdown ul li:hover img {
    opacity: 1;
}

.action .dropdown ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .dropdown ul li:hover a {
    color: #ff5d94;
}

.ml-auto .logo img {
    width: 40%;
    position: fixed;
    top: 25px;
    left: 20%;
}

#cuerpo{
    display: flex
}

#id_empresa{
    display: flex;
    position: fixed;
    z-index: 1;

    bottom: 790px;
    left: 230px;
}

#logo_empresa img{
    height: 50px;
    width: 50px;
    padding: 2px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    border: solid 2px gold;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 20px;
  color: #0c59a7;
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
    font-size: 17px;
  }
}
.form-select:focus {
  outline: 0;
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  font-size: 17px;
} 
.form-select:-moz-focusring {
  color: transparent;
  font-size: 17px;
}

/*#ico_arrow{
    height: 8px;
    width: 16px;
    margin-top: 22px;
    margin-left: 8px;
}*/

@media screen and (min-width: 375px) {
    .menu > div > ul {
        top: 100px;
    }

    .menu > div > ul > li > a{
    font-size: 0.8rem;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        bottom: 50px;
        left: 75px;
    }
}

@media screen and (min-width: 425px) {
    .menu > div > ul > li > a{
        font-size: 0.9rem;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        bottom: 50px;
        left: 75px;
    }
}

@media screen and (min-width: 768px) {
    .toggler {
    left: 15px;
    }

    .hamburger {
        left: 15px;
    }
    
    .menu {
        width: 10%;
    }

    .menu > div > ul > li {
        list-style: none;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }   

    .menu > div > ul > li > a {
        font-size: 1.2rem;
        /* padding: 0 15px; */
    }
    
    .toggler:checked ~ .menu {
        width: 26%;
    }

    .toggler:checked ~ .menu > div > ul{
        width: 20vw;
    }
    
    main > ul {
        height: 40vh;
    }
    
    main > ul > li {
        width: 40vw;
    }
    
    main > ul > li > a {
        width: 70vw;
    }
    
    main > ul > li > a > img {
        width: 50px;
    }

    .ml-auto .logo img {
        width: 30%;
        position: fixed;
        top: 15px;
        left: 12%;
    }

    .action .dropdown.active {
        width: 30%;
    }

    main {
        left: 40%;
        top: 30%;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        bottom: 20px;
        left: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .toggler:checked ~ .menu {
        width: 26%;
    }

    .menu > div > ul > li > img {
        width: 60px;
    }

    .menu > div > ul > li > a {
        font-size: 1.5rem;
        /* padding: 0 35px; */
    }

    main {
        left: 45%;
        top: 40%;
    }

    .action .dropdown.active {
        width: 21%;
    }

    .ml-auto .logo img {
        width: 25%;
        left: 10%;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        bottom: 20px;
        left: 120px;
    }
}


@media screen and (min-width: 1440px) {    
    .menu {
        width: 8%;
    }

    .menu > div > ul > li {
        list-style: none;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }   

    .menu > div > ul {
    padding-left: 15px;
    }

    .toggler:checked ~ .menu {
        width: 15%;
    }

    .toggler:checked ~ .menu > div > ul {
        width: 15vw;
    }

    .menu > div > ul > li > a {
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .menu > div > ul {
        top: 150px;
    }

    .ml-auto .logo img {
        width: 15%;
        position: fixed;
        top: 15px;
        left: 7%;
    }

    .action .profile { 
        width: 100px;
    }

    .action .profile ul li img {
        width: 35px;
        position: fixed;
        left: 91.5%;
    }

    .action .profile ul li p {
        right: 70px;
    }
    
    .action .dropdown.active {
        right: 20px;
        width: 15%;
    }

    main {
        left: 17%;
        top: 65%;
    }

    main > ul {
        flex-direction: row;
        height: 6vh;
        width: 80vw;
    }

    main > ul > li {
        width: 15vw;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        bottom: 790px;
        left: 170px;
    }
}

@media screen and (min-width: 1920px) {
    .menu {
        width: 6%;
    }

    .toggler:checked ~ .menu > div > ul {
        width: 15%;
    }

    .menu > div > ul > li > a {
        font-size: 1.2rem;
        padding-left: 50px;
    }

    .menu > div > ul > li > a > img{
        margin-left: -35px;
    }

    main {
        top: 70%;
        left: 20%;
    }
    
    main > ul {
        height: 7vh;
        width: 120%;
        flex-direction: row;    
    }

    .menu > div > ul {
        top: 150px;
    }
    
    main > ul > li {
        width: 12vw;
    }
    
    main > ul > li > a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70vw;
    }
    
    main > ul > li > a > img {
        width: 50px;
    }

    .action {
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .action .profile {
        position: relative;
        width: 100px;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
    }

    .action .profile ul li img {
        width: 30px;
        left: 93%;
    }

    .action .profile ul li p {
        position: absolute;
        top: 2px;
        left: 30%;
        width: 0;
        height: 0;
        object-fit: cover;
        font-size: 24px;
        color: #339af0;
    }
    
    .action .dropdown {
        position: fixed;
        top: 120px;
        right: -10px;
        padding: 10px 20px;
        background: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,1);
        border-radius: 15px;
        transform: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .action .dropdown.active {
        top: 85px;
        visibility: visible;
        opacity: 1;
        right: 10px;
        width: 11%;
    }

    .action .dropdown::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }

    .action .dropdown ul p {
        text-align: center;
    }
    
    .action .dropdown ul li {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.5);
        direction: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action .dropdown ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover img {
        opacity: 1;
    }

    .action .dropdown ul li a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover a {
        color: #ff5d94;
    }

    .ml-auto .logo img {
        width: 10%;
        position: fixed;
        top: 20px;
        left: 5%;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
    
        top: 10%;
        bottom: 900px;
        left: 300px;
        height: 50px;
    }


}

@media screen and (min-width: 2560px) {
    
    .toggler {
        width: 95px;
    }

    .toggler:checked ~ .menu {
        width: 20%;
    }

    .hamburger{
        position: absolute;
        top: 0;
        left: 10px;
        height: 80px;
        width: 100px;
        padding: 0.6rem;
        z-index: 100;

    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hamburger > div::after{
        top: 10px;
    }

    .ml-auto .logo img {
        width: 10%;
        position: fixed;
        top: 10px;
        left: 5%;
    }

    /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

    .menu{
        background: rgb(0, 126, 176);
        width: 5%;
        height: 100vh;
        position: fixed;
        top: 0;

    /* APPLYING TRANSITION TO THE MENU :  */

        transition: all 0.4s ease;
    }

    /* STYLING THE LIST :  */

    .menu >  div > ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10%;
        padding-left: 25px;

    /* HIDDEN INITIALLY  :  */

        visibility: hidden;
    }

    .menu > div > ul > li{
        list-style: none;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu > div > ul > li > a {
        font-size: 1.5rem;
        padding: 0 150px;
    }
    
    .action {
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .action .profile {
        position: relative;
        width: 110px;
        height: 35px;
        overflow: hidden;
        cursor: pointer;
    }

    .action .profile ul li img {
        width: 35px;
        position: absolute;
        left: 0px;
        top: 0;
    }

    .action .profile ul li p {
        position: absolute;
        top: 2px;
        left: 35%;
        width: 0;
        height: 0;
        object-fit: cover;
        font-size: 24px;
        color: rgb(51 154 240);
    }

    .action .dropdown {
        position: fixed;
        top: 120px;
        right: -10px;
        padding: 10px 20px;
        background: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,1);
        border-radius: 15px;
        transform: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .action .dropdown.active {
        top: 85px;
        visibility: visible;
        opacity: 1;
        right: 10px;
        width: 10%;
    }

    .action .dropdown::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }

    .action .dropdown ul p {
        text-align: center;
    }
    
    .action .dropdown ul li {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.5);
        direction: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action .dropdown ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover img {
        opacity: 1;
    }

    .action .dropdown ul li a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover a {
        color: #ff5d94;
    }

    #id_empresa{
        display: flex;
        position: fixed;
        z-index: 1;
        top: 121%;
    
        bottom: 1240px;
        left: 450px;
    }
}