* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	transition: all 500ms ease; }
  
body {
	background-image: url('fondo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga" on; 
}
  
.row {
	box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
	/* background-color: rgba(20, 120, 200, 0.6); */
	backdrop-filter: blur(10px);
	color: black;
	text-align: center;
	padding: 2em 2em 0.5em;
	width: 90%;
	margin: 2em	auto;
	border-radius: 5px; 
	margin-top: 15%;
}

.row h1 {  
	font-size: 2.5em; 
	margin-bottom: 0.8rem;
}

.row .form-group {
	margin: 0.5em 0; 
	margin-left: 160px;
	width: 50%;
}

.row .form-group label {
	display: block;
	color: #fff;
	text-align: left;
	font-weight: 600;
}

.row .form-group input {
	font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid #a0b3b0;
    color: rgb(0, 0, 0);
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.row .form-group button {
	display: block;
	padding: 0.5em 0;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	background-color: rgb(0, 126, 176);
	border: none;
	color: #eee; 
}

.row .form-group input:focus, .row .form-group button:focus {
	background-color: #fff;
	border: none;
	/* padding: 1em 0.5em;  */
	animation: pulse 1s infinite ease;
}

.row .form-group button {
	border-radius: 5px;
	outline: none;
	-moz-user-select: none;
	user-select: none;
	font-weight: 600;
	cursor: pointer;
	margin-top: 2em;
	padding: 1em; 
}

.row .form-group button:hover, .row .form-group button:focus {
	background-color: #d09500; 
}

.row .form-group button.is-loading::after {
	animation: spinner 500ms infinite linear;
	content: "";
	position: absolute;
	margin-left: 2em;
	border: 2px solid #000;
	border-radius: 100%;
	border-right-color: transparent;
	border-left-color: transparent;
	height: 1em;
	width: 4%; }

.row .footer h5 {
	margin-top: 1em; 
}

.row .footer p {
	margin-top: 2em; 
}

.row .footer p .symbols {
	color: #444; 
}

.row .footer a {
	color: inherit;
	text-decoration: none; 
}

.row .footer a:hover {
	color: #d09500;
}

.logo img {
	background-color: white;
	border-radius: 25px;
	border: solid 4px rgb(0, 126, 176);
	width: 300px;
	margin-bottom: 20px;
	padding: 5px;
}

@media screen and (max-width: 280px) {
	.logo img {
		width: 200px;
	}

	.row h1 {
		font-size: 1.5rem;
	}

	.row .form-group {
		margin-left: 10px;
		width: 90%;
	}
}

@media screen and (min-width: 320px) {
	.row {
		padding-left: 1em;
		padding-right: 1em; 
	}

	.row h1 {
		font-size: 1.5em; 
	} 

	.row .form-group {
		margin-left: 15px;
		width: 75vw;
	}

}

@media screen and (min-width: 768px) {
	.row .form-group {
		margin-left: 150px;
		width: 50vw;
	}
}

@media screen and (min-width: 912px) {

	.row .form-group {
		margin-left: 255px;
		width: 30vw;
	}
}

@media screen and (min-width: 1280px) {
	.row .form-group {
		margin-left: 370px;
		width: 30vw;
	}
}

@media screen and (min-width: 1366px) {
	.row .form-group {
		margin-left: 415px;
	}
}

@media screen and (min-width: 1920px) {
	.row {
	  width: 25%; 
	} 

	.row .form-group {
		margin-left: 148px;
		width: 12vw;
	}

}

@media screen and (min-width: 2560px) {
	.row {
		width: 25%;
	}

	.row .form-group{
		margin-left: 20%;
		width: 14vw;
	}
}
  