.slider {
    width: 175px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    top: 10%;
    position: fixed;
    left: 35%;
}

.slides {
    width: 500%;
    height: 100px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 175px;
    height: 100px;
}

.navigation-manual {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 175px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

@media screen and (min-width: 375px) {
    .slider {
        left: 40%;
    }

    .navigation-manual {
        right: 13%;
    }
}

@media screen and (min-width: 425px) {
    .slider {
        left: 45%;
    }

    .navigation-manual {
        right: 13.5%;
    }
}

@media screen and (min-width: 768px) {
    .slider {
        width: 400px;
        height: 200px;
    }

    .slide img {
        width: 400px;
        height: 200px;
    }

    .slider {
        left: 35%;
    }

    .navigation-manual {
        top: 28%;
        right: 28%;
    }
}

@media screen and (min-width: 1024px) {
    .slide img {
        width: 600px;
        height: 300px;
    }

    .slider {
        width: 600px;
        height: 300px;
    }

    .slides {
        height: 300px;
    }

    .navigation-manual {
        right: 27%;
        top: 37%;
    }
}


@media screen and (min-width: 1440px) {    
    .slides {
        height: 300px;
    }

    .slider {
        width: 500px;
        height: 300px;
        top: 15%;
    }

    .slide img {
        width: 500px;
        height: 300px;
    }
    
    .navigation-manual {
        top: 57%;
        right: 43%;
    }
}

@media screen and (min-width: 1920px) {
    .slider {
        width: 600px;
        height: 350px;
    }

    .slide img {
        width: 600px;
        height: 350px;
    }
    
    /* .slides {
        width: 700%;
        height: 300px;
    } */
    
    .navigation-manual {
        top: 57%;
        right: 44%;
    }
}

@media screen and (min-width: 2560px) {
    .slider {
        width: 800px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
        top: 10%;
        position: fixed;
        left: 40%;
    }
    
    .slides {
        width: 500%;
        height: 500px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        width: 20%;
        transition: 2s;
    }
    
    .slide img {
        width: 800px;
        height: 500px;
    }
    
    .navigation-manual {
        position: fixed;
        top: 50%;
        width: 800px;
        display: flex;
        justify-content: center;
        left: 40%;
    }
    
    .manual-btn {
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        background: #40D3DC;
    }
    
    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -20%;
    }
    
    #radio3:checked ~ .first {
        margin-left: -40%;
    }
    
    #radio4:checked ~ .first {
        margin-left: -60%;
    }
}