* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f4;
    color: #171e28;
    line-height: 1.3;
    font-size: 1.5rem;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
}

.at_mainheader {
    background: #f3f3f4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.at_mainheader .at_header {
    position: fixed;
    z-index: 2;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 25px rgb(23 30 40 / 5%);
    height: 80px;
}

.at_mainheader .at_ul_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.at_mainheader .at_ul_header>.at_li_header {
    padding: 0 3rem;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.at_mainheader .at_grey_li p {
    font-size: 1.7rem;
    color: #b9bbbe;
}

.at_mainheader .at_grey_li strong {
    font-family: Rubik-Medium,sans-serif;
    font-weight: 500;
}

ul {
list-style: none;
color: #000;
}

ul li {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

p {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.action {
    position: fixed;
    top: 20px;
    right: 5px;
}

.action .profile {
    position: relative;
    width: 100px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}

.action .profile ul li img {
    width: 30px;
}

.action .profile ul li p {
    position: absolute;
    top: 2px;
    width: 0;
    height: 0;
    object-fit: cover;
    font-size: 24px;
    right: 70px;
    color: rgb(255 181 0);
}

.action .dropdown {
    position: fixed;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transform: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .dropdown.active {
    top: 85px;
    visibility: visible;
    opacity: 1;
    right: 10px;
    width: 45%;
}

.action .dropdown::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.action .dropdown ul p {
    text-align: center;
}

.action .dropdown ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    direction: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .dropdown ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .dropdown ul li:hover img {
    opacity: 1;
}

.action .dropdown ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .dropdown ul li:hover a {
    color: #ff5d94;
}

.ml-auto .logo img {
    width: 60%;
    position: fixed;
    top: 1.5%;
    left: 2%;
}



@media screen and (min-width: 375px) {
    .ml-auto .logo img {
        width: 50%;
        left: 2%;
        top: 1.5%;
    }
}

@media screen and (min-width: 425px) {
    .ml-auto .logo img {
        width: 50%;
        left: 2%;
        top: 1.5%;
    }
}

@media screen and (min-width: 768px) {
    .ml-auto .logo img {
        width: 30%;
        position: fixed;
        top: 15px;
        left: 1%;
    }

    .action .dropdown.active {
        width: 30%;
    }

    .container {
        position: relative;
        width: 95vw;
        height: 90vh;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 20px 1px rgba(3, 3, 3, 0.5);
        display: flex;
        top: 9.5%;
        left: 2.5%;
    }

    .container .tabBtns {
        flex-basis: 12%;
        padding: 10px;
        background-color: rgb(0, 126, 176);
        border-right: 1px solid #a9d9b5;
        color: white
    }

    .container .tabContents {
        flex-basis: 88%;
        background-image: linear-gradient(to right, #d9d9d9, rgb(220, 220, 220));
        padding: 20px 30px 20px 40px;
        font-size: 20px;
    }

    .tabContents h2 {
        padding-bottom: 10px;
    }

    .tabContents h3 {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: #555;
    }

    .tabContents .contents {
        display: none;
    }

    .tabContents .show {
        display: block;
    }

    .tabBtns .btn {
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px 30px;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
    }

    .tabBtns .btn:hover {
        background-color: #174486;
    }

    .tabBtns .show {
        background-color: #5fd57c;
    }

    .tabContents .tabContainer {
        display: flex;
        justify-content: space-evenly;
        background-color: #a9d9b5;
        padding: 15px;
    }

    .tabContents .tabContainer .btnContainer {
        cursor: pointer;
        padding: 15px;
        border-radius: 10px 30px;
        background-color: #5fd57c;
    }

    .tabContents .tabContainer .btnContainer:hover {
        background-color: #4cb065;
    }

    .tabContents .btnContents .contents2 {
        display: none;
    }

    .tabContents .btnContents .show2 {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .action .dropdown.active {
        width: 21%;
    }

    .ml-auto .logo img {
        width: 25%;
        left: 1%;
        top: 1%;
    }
}

@media screen and (min-width: 1440px) {
    .ml-auto .logo img {
        width: 15%;
        position: fixed;
        top: 15px;
        left: 1%;
    }

    .action .profile { 
        width: 100px;
    }

    .action .profile img {
        width: 40px;
        position: fixed;
        left: 92.5%;
    }

    .action .profile p {
        right: 70px;
    }
    
    .action .dropdown.active {
        right: 20px;
        width: 15%;
    }
}

@media screen and (min-width: 1920px) {
    .action {
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .action .profile {
        position: relative;
        width: 100px;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
    }

    .action .profile ul li img {
        width: 30px;
        left: 93%;
    }

    .action .profile ul li p {
        position: absolute;
        top: 2px;
        left: 30%;
        width: 0;
        height: 0;
        object-fit: cover;
        font-size: 24px;
        color: #339af0;
    }
    
    .action .dropdown {
        position: fixed;
        top: 120px;
        right: -10px;
        padding: 10px 20px;
        background: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,1);
        border-radius: 15px;
        transform: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .action .dropdown.active {
        top: 85px;
        visibility: visible;
        opacity: 1;
        right: 10px;
        width: 11%;
    }

    .action .dropdown::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }

    .action .dropdown ul p {
        text-align: center;
    }
    
    .action .dropdown ul li {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.5);
        direction: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action .dropdown ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover img {
        opacity: 1;
    }

    .action .dropdown ul li a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover a {
        color: #ff5d94;
    }

    .ml-auto .logo img {
        width: 10%;
        position: fixed;
        top: 20px;
        left: 5%;
    }

    .container {
        top: 8.5%;
    }
}

@media screen and (min-width: 2560px) {

    .ml-auto .logo img {
        width: 10%;
        position: fixed;
        top: 10px;
        left: 1%;
    }
    
    .action {
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .action .profile {
        position: relative;
        width: 110px;
        height: 35px;
        overflow: hidden;
        cursor: pointer;
    }

    .action .profile ul li img {
        width: 35px;
        position: absolute;
        left: 0px;
        top: 0;
    }

    .action .profile ul li p {
        position: absolute;
        top: 2px;
        left: 35%;
        width: 0;
        height: 0;
        object-fit: cover;
        font-size: 24px;
        color: rgb(255 181 0);
    }

    .action .dropdown {
        position: fixed;
        top: 120px;
        right: -10px;
        padding: 10px 20px;
        background: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,1);
        border-radius: 15px;
        transform: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .action .dropdown.active {
        top: 85px;
        visibility: visible;
        opacity: 1;
        right: 10px;
        width: 10%;
    }

    .action .dropdown::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }

    .action .dropdown ul p {
        text-align: center;
    }
    
    .action .dropdown ul li {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.5);
        direction: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action .dropdown ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover img {
        opacity: 1;
    }

    .action .dropdown ul li a {
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }

    .action .dropdown ul li:hover a {
        color: #ff5d94;
    }

    .container {
        position: relative;
        width: 95vw;
        height: 90vh;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 20px 1px rgba(3, 3, 3, 0.5);
        display: flex;
        top: 8%;
        left: 2.5%;
    }

    .container .tabBtns {
        flex-basis: 12%;
        padding: 10px;
        background-color: #a9cbd9;
        border-right: 1px solid #a9d9b5;
    }

    .container .tabContents {
        flex-basis: 88%;
        background-image: linear-gradient(to right, #d9d9d9, rgb(220, 220, 220));
        padding: 20px 30px 20px 40px;
        font-size: 20px;
    }

    .tabContents h2 {
        padding-bottom: 10px;
    }

    .tabContents h3 {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: #555;
    }

    .tabContents .contents {
        display: none;
    }

    .tabContents .show {
        display: block;
    }

    .tabBtns .btn {
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px 30px;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
    }

    .tabBtns .btn:hover {
        background-color: #4cb065;
    }

    .tabBtns .show {
        background-color: #5fd57c;
    }

    .tabContents .tabContainer {
        display: flex;
        justify-content: space-evenly;
        background-color: #a9d9b5;
        padding: 15px;
    }

    .tabContents .tabContainer .btnContainer {
        cursor: pointer;
        padding: 15px;
        border-radius: 10px 30px;
        background-color: #5fd57c;
    }

    .tabContents .tabContainer .btnContainer:hover {
        background-color: #4cb065;
    }

    .tabContents .btnContents .contents2 {
        display: none;
    }

    .tabContents .btnContents .show2 {
        display: block;
    }

    /*CSS PRODUCCIONES VALHALLA*/
    #t_tab1{
        display: none;
    }

    #tab1{
        display: none;
    }


}