* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f4;
    color: #171e28;
    line-height: 1.3;
    font-size: 1.5rem;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
}


.at_mainheader {
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.at_mainheader .at_header {
    z-index: 2;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 25px rgb(23 30 40 / 5%);
    height: 80px;
    width: 100%;
}

/*MENU DESPLEGABLE*/
.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      z-index: 101;
      height: 80px;
      width: 75px;
      position: fixed;
      top: 0;
      left: 0px;
      cursor: pointer;
      opacity: 0;
}
  
.hamburger{
    position: fixed;
    left: 15px;
    height: 80px;
    width: 75px;
    padding: 0.6rem;
    z-index: 100;

/* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
  
.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: rgb(0, 126, 176);
    height: 5px;
    width: 60%;
    transition: all  0.4s ease;
    border-radius: 15px;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: rgb(0, 126, 176);
    width: 100%;
    height: 5px;
    transition: all  0.4s ease;
    border-radius: 15px;
}

.hamburger > div::after{
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: #ffffff;
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: rgb(0, 126, 176);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: rgb(0, 126, 176);
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

#canva_cuerpo{
    background: rgb(0, 126, 176);
    position: fixed;
    width: 130px;
    height: 100vh;
/* APPLYING TRANSITION TO THE MENU :  */

    transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ #canva_cuerpo{
    width: 250px;
}


/* STYLING THE LIST :  */

#canva_cuerpo >  div > ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    justify-content: space-around;
    height: 45vh;
    padding-left: 20px;

/* HIDDEN INITIALLY  :  */

    visibility: hidden;
}

#canva_cuerpo > div > ul > li{
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#canva_cuerpo > div > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7rem;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 80px;
}

.t_menu{
    margin-left: 10px;
    font-size: 20px;
    padding-top: 15px;

}

#canva_cuerpo > div > ul > li > a > img {
    visibility: visible;
    width: 50px;
    
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ #canva_cuerpo > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
    width: 26vw;
}

.toggler:checked ~ #canva_cuerpo > div > ul > li > a:hover{
    color: rgb(0 54 176);
}

/* .ml-auto {
    margin-left: auto;
} */

.at_mainheader .at_ul_header {
display: flex;
justify-content: center;
align-items: center;
}

.ml-auto .logo img {
    width: 281px;
    position: fixed;
    top: 1.6%;
    left: 4%;
    margin-left: 55px;
}

ul {
list-style: none;
color: #000;
}

ul li {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

p {
    font-size: 13px;
    font-family: Rubik-Regular,sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.action {
    position: fixed;
    top: 16px;
    right: 5px;
}

.action .profile {
    position: relative;
    width: 100px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}

.action .profile ul li img {
    position: fixed;
    width: 34px;
    top: 20px;
    right: 110px;
    
}

.action .profile ul li p {
    position: absolute;
    top: 2px;
    width: 0;
    height: 0;
    object-fit: cover;
    font-size: 26px;
    right: 70px;
    color: #339af0;
}

.action #menu_user{
    position: fixed;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transform: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action #menu_user.active {
    top: 85px;
    visibility: visible;
    opacity: 1;
    right: 10px;
    width: 280px;
}

.action #menu_user::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.action #menu_user ul p {
    text-align: center;
}

.action #menu_user ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    direction: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action #menu_user ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action #menu_user ul li:hover img {
    opacity: 1;
}

.action #menu_user ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action #menu_user ul li:hover a {
    color: #ff5d94;
}



.nav_menu{
    margin-top: 100px;
    margin-right: 20px;
    height: 60px;
    
    border-bottom: rgb(0, 126, 176) solid 3px;
}

#id_empresa{
    margin-right: 15px;
    display: flex;
    padding: 5px;
    background-color: white;
}

#logo_empresa img{
    height: 47px;
    width: 47px;
    padding: 2px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    border: solid 2px gold;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 20px;
  color: #0c59a7;
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#espacio_trabajo{
    margin-top: 25px;
    position: relative;
    width: 83vw;
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 1px rgba(3, 3, 3, 0.5);
    display: flex;
    top: 9.5%;
    left: 280px;
}

#tabContents{
    width: 100%;
}

.Titulo{
    padding-top: 0px;
}

button{
    all: unset;
}

#b_nuevo{
    margin-bottom: 20px;
}

/*CEJILL CUADRO CUENTA*/
#cuadro_cuenta{
    font-size: 15px;
}

#crear_nuevo{
    font-weight: bold;
    color: black;
}

#h_modal_cn .l_amarrillo{
    background-color: gold;
    height: 4px;
    width: 100%;
    margin-top: 10px;
}

#h_modal_cn .l_azul{
    background-color: rgb(0, 126, 176);
    height: 4px;
    width: 100%;
    margin-top: 10px;
}

#f_modal_cn .l_amarrillo_abajo{
    background-color: gold;
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
}

#f_modal_cn .l_azul_abajo{
    background-color: rgb(0, 126, 176);
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
}


#m_codigo{
    display: flex;
}

#m_codigo input{
    margin-right: 5px;
}

#m_cuerpo_crearnuevo .row{
    margin-bottom: 25px;
}

#f_modal_cn, #h_modal_cn{
    color: rgb(0, 126, 176);
}

#tipo_cuenta .row{
    margin-top: 5px;
}

label{
    font-weight: normal;
}

#modal_logo{
    background-color: white;
    height: 50px;
    border-radius: 50px;
    margin-right: 200px;
}

/*CEJILLA ADMINISTRACION*/
#admin_options .row{
    margin-top: 8px;
    margin-bottom: 15px;
}

.admin_button{
    font-size: 15px;
    font-weight: 300;
    color: black;
    padding: 5px 10px 5px 10px;

    border: 3px solid rgb(0, 126, 176);
    border-radius: 5px;

}

#admin_button_preparar{
    margin-right: 50px;
}

.admin_button:hover{
    color: white;
    background-color: rgb(9, 62, 83);
    border: 3px solid rgb(0, 126, 176);

}


/*CEJILLA INTEGRADOR*/
#select_integrador{
    border: 2px solid rgb(0, 126, 176);
    padding: 2px;
    border-radius: 5px;
    color: black;
    font-weight: normal;

}

#int_header{
    margin-top: 20px;
    margin-bottom: 20px;
}